

 
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", "Arial", sans-serif;
}

.container {
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.text-white {
  color: #fff;
}

.text-black {
  color: #2c2830;
}

.text-gray {
  color: #837d88;
}

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-purple {
  color: #2d2641;
}

.flex {
  display: flex;
}

/*************** HEADER ********************/
.site-header {
  padding: 31px 0;
}
.header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: auto 15px;
}

.site-nav {
  align-items: center;
  width: 550px;
  justify-content: space-between;
}

.site-nav-list {
  list-style: none;
  margin-right: 33px;
}

.site-nav-link {
  margin-left: 25px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  color: #837d88;
  text-decoration: none;
}

.site-nav-link:hover {
  color: #2c2830;
}

.nav-plan-link {
  padding-top: 12px;
  padding-right: 28px;
  padding-left: 28px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #2c2830;
}

.nav-plan-link:hover {
  background: #2c2830;
  color: #fff;
  border: 1.5px solid #2c2830;
}
/*************** HEADER ********************/

.hero {
  background-color: #2d2641;
  background-image: url("../image/waves1.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 520px) calc(50% - 112px);
}

.hero-box {
  background-image: url("../image/waves2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 615px) calc(50% + 465px);
}

.hero-box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.hero-info {
  width: 540px;
  margin-right: 20px;
}

.line {
  display: block;
  width: 150px;
  height: 1px;

  margin-bottom: 63px;

  background-color: #fff;
}

.texthero{
  width: 530px;
  margin-bottom: 16px;
}

.hero-heading {
  font-family: "DM Serif Display" , "Times New Roman" , serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;

  margin-top: 0px;
  margin-bottom: 0px;


  color: #FFFFFF;
}

.hero-text {
  font-size: 16px;
  line-height: 26px;

  margin-top: 0px;
  margin-bottom: 24px;

  color: #FFFFFF;
}

.hero-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;

  padding-top: 13px;
  padding-right: 29px;
  padding-bottom: 12px;
  padding-left: 29px;

  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #fff;;
  text-decoration: none;
}
.hero-link:hover
{
  background-color: #fff;
  border: 2px solid #fff;
  color: #2c2830;
}

.site-theme-section-box-for-img-image {
  width: 540px;
  height: 650px;
}
/*************** BANNER ********************/

/*************** ABOUT ********************/
.about {
  padding-top: 305px;
  padding-bottom: 158px;
}

.line {
  display: block;
  width: 150px;
  height: 1px;
  margin-top: 50px;
  background-color: #c396c6;
}
.about-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.about-item {
  width: 350px;
  list-style: none;
}

.about-item::before {
  content: "";
  display: block;
  width: 86px;
  height: 86px;
  background-color: #888;
  border-radius: 50%;
}
.about-item:nth-child(1)::before {
  background-image: url("../images/Group\ 17.svg");
}
.about-item:nth-child(2)::before {
  background-image: url("../images/Group\ 18.svg");
}
.about-item:nth-child(2) {
  margin: 0 30px;
}

.about-item:nth-child(3)::before {
  background-image: url("../images/Group\ 8-1.svg");
}
.about-title {
  margin-bottom: 96px;
  font-family: "DM Serif Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
}
.about-item-img {
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
}
.about-list-item-title {
  margin-bottom: 16px;
  font-style: normal;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
}

.about-list-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
/*************** ABOUT ********************/

/*************** ARTICLE ********************/
.site-article {
  margin-bottom: 150px;
  padding: 69px 80px;
  background-color: #2d2641;
  background-image: url("../images/Group\ 17.svg");
  background-position: 150%;
  background-size: 765px 713px;
  background-repeat: no-repeat;
}
.article-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-heading-wrapper {
  width: 475px;
}
.article-title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
}

.article-link {
  padding-top: 12px;
  padding-right: 28px;
  padding-left: 28px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  border: 1.5px solid #fff;
}

.article-link:hover {
  background: #fff;
  color: #2c2830;
}

/****************** FOOTER  **************/
.site-footer {
  padding-top: 67px;
  padding-bottom: 64px;
  background-color: #fafafa;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  padding-bottom: 33px;
  border-bottom: 1px solid #dadada;
}
.footer-top-social-links {
  display: flex;
  list-style: none;
}
.social-item:nth-child(2) {
  margin-right: 15px;
  margin-left: 15px;
}
.social-item:nth-child(3) {
  margin-right: 15px;
}
.footer-bottom-list-link:hover {
  text-decoration: underline;
}
.footer-top-social-logo {
  color: #837d88;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-list {
  padding-left: 0;
  list-style: none;
}

.footer-list-item:nth-child(1) {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837d88;
}

.footer-list-item:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer-list-item:nth-child(3) {
  margin-bottom: 16px;
}

.footer-bottom-list-link {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
}